<link rel="import" href="waypoint-card.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-localstorage/core-localstorage.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/google-signin/google-signin.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">

<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<polymer-element name="main-page">
<template>
  <link rel="stylesheet" href="../css/styles.css">
  <div display="hidden">
    <core-icon id="mapicon" class="mapicon" icon="maps:place" ></core-icon>
  </div>
  <core-drawer-panel  id="drawerPanel"  narrow="{{narrow}}">
    <core-header-panel drawer  mode="waterfall">
     <core-toolbar class="narrow">Menu</core-toolbar>
       <core-item>
        <label flex>Fade out selected</label>
        <paper-toggle-button class="blue" checked="{{fadeSelected}}">
        </paper-toggle-button>
      </core-item>
       <core-item>
        <label flex>Delete selected</label>
        <paper-icon-button icon="delete" on-click="{{delete}}"></paper-icon-button>
      </core-item>
       <core-item>
        <div center horizontal layout>
          <div>Font size</div>
          <paper-slider value="{{fontSize}}" max="32" editable></paper-slider>
        </div>
    </core-item>
       <core-item>
        <paper-button raised class="colored" on-click="{{reset}}">
          reset
        </paper-button>
      </core-item>

    </core-header-panel>
   <core-header-panel main mode="waterfall">
     <core-toolbar class="narrow">
      <paper-icon-button icon="menu" on-click="{{toggleDrawer}}"></paper-icon-button>
      <span flex>Menu</span>
      <paper-icon-button icon="search"></paper-icon-button>
      <paper-icon-button icon="more-vert"></paper-icon-button>
      <paper-fab icon="icons:add" on-click="{{showNewNoteInput}}"></paper-fab>
    </core-toolbar>
    <div class="content" data-fade-selected="{{fadeSelected}}">
               <core-ajax
                       id="ajax"
                  auto
                  url="../data/data.json"
                  handleAs="json"
                  on-core-response="{{ajaxResponse}}"
                  response="{{response}}"
                   ></core-ajax>
    <div id="main-content" layout horizontal>

     <google-map id="googlemap" latitude="37.779" longitude="-122.3892" zoom="13" on-google-map-ready="{{mapReady}}">
            <template repeat="{{waypoint in response.waypoints}}">
             <google-map-marker on-tap="{{markerSelected}}" id={{waypoint.title}} latitude={{waypoint.lat}} longitude={{waypoint.lng}} draggable="true">
            </template>
     </google-map>

     <div id="side">
           <core-selector id="waypointSelector" on-core-activate="{{coreSelect}}">
            <template repeat="{{waypoint in response.waypoints}}">
            <waypoint-card  waypoint={{waypoint}} ></waypoint-card>
         </template>
           </core-selector>
         <paper-button raised on-tap="{{saveMarkers}}">Save</paper-button>
     </div>
     </div>
</div>

    <paper-toast id="toast" class="capsule" text="Settings have been reset!"
               duration="800"></paper-toast>
  </core-header-panel>

  </core-drawer-panel>
   <core-localstorage id="storage" name="oursailingfamily-storage" value="{{data}}"></core-localstorage>
<paper-action-dialog id="dialog" heading="Title" backdrop>

    <p>Standard button with `profile` scope:</p>
  <google-signin clientId="814058177458-3ii9uo244mgic73o4a8sorj6ole27v3n.apps.googleusercontent.com"
  on-google-signin-aware-success="{{signIn}}" scopes="profile"></google-signin>

    <p>Wide tall button with `email` scope:</p>
    <google-signin clientId="814058177458-3ii9uo244mgic73o4a8sorj6ole27v3n.apps.googleusercontent.com" scopes="email" width="wide" height="tall"></google-signin>

    <p>Short light themed button with `email` and `plus.profile.emails.read` scope:</p>
    <google-signin clientId="814058177458-3ii9uo244mgic73o4a8sorj6ole27v3n.apps.googleusercontent.com" scopes="https://www.googleapis.com/auth/plus.profile.emails.read email" theme="light" width="standard" height="short"></google-signin>

    <p>Tall light themed icon only button with `plus.login` scope:</p>
    <google-signin clientId="814058177458-3ii9uo244mgic73o4a8sorj6ole27v3n.apps.googleusercontent.com" scopes="https://www.googleapis.com/auth/plus.login" theme="light" width="iconOnly" height="tall"></google-signin>
    <paper-button dismissive>Close</paper-button>
</template>

<script>

  Polymer("main-page",{
    map:null,
    data:[],
    fontSize: 14,
    status:'Not granted',
     ready: function() {

    },status: 'Not granted',
          signIn: function(response) {
            this.status = 'Signin granted';
            console.log('Signin Response', response);
          },
      saveMarkers:function(){
          var ajax = this.$.ajax;
          var map = this.$.googlemap;
          var markers = [];


        for(var i=0;i<this.$.googlemap.markers.length;i++){
              var item= new Object();
              item.name = this.$.googlemap.markers[i].name;

              item.lat = this.$.googlemap.markers[i].latitude;
              item.lng = this.$.googlemap.markers[i].longitude;
              item.title = this.$.googlemap.markers[i].id;
              markers.push(item);
          }

          ajax.method="POST";
          ajax.contentType = 'application/json';
          markers = JSON.stringify(markers);
          ajax.params = JSON.stringify(markers);

          ajax.go();


        console.log('save markers')  ;
      },

    toggleDrawer: function() {
      this.$.drawerPanel.togglePanel();
    },
    mapLoaded:function (e) {
      var map = this.map;
      console.log('current zoom: ' + map.getZoom());
    },
    showDialog:function(){

    },


    showNewNoteInput: function() {
      this.$.newNoteInput.style.display = 'block';
    },
    coreSelect:function(s,e,d){

      // Get Selected Card
      var title = e.item.waypoint.title;
      var selectedmarker = null;
      // Change the color of the currently selected marker.

      if (this.$.googlemap){
        var markers = this.$.googlemap.markers;
        for(var i=0;i<markers.length;i++){
          if (markers[i].id==title){
          selectedmarker = markers[i];
          break;
          }

        }
        if (e.item.open){
          selectedmarker.icon='http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        }else{
          selectedmarker.icon=null;
        }
      }
      console.log('selected');
    },
    markerSelected:function(){
      console.log('marker Selected');
    },
    mapReady: function(){
      console.log('map ready');
      var markers = this.$.googlemap.markers;
      for(marker  in this.$.googlemap.markers)
      { this.$.googlemap.addEventListener('click',marker,function(){
          console.log('marker clicked');

      });
      }
      for(var i =0;i<markers.length;i++){
        google.maps.event.addListener(markers[i], 'click',function(){
          markerSelected(markers[i]);
        });
      }
    },
    dataChanged: function() {
      this.$.storage.save();
    },
    add: function() {
      if (this.newNote) {
        this.data.unshift({
          body: this.newNote,
          done: false
        });
        this.$.newNoteInput.style.display = 'none';
        this.$.newNoteInput.value = null;
      }
    },
    delete: function(e) {
      this.data = this.data.filter(function(item) {
        return !item.done;
      })
    },
    fontSizeChanged: function() {
      var cards = this.shadowRoot.querySelectorAll('.card');
      for (var i = 0; i < cards.length; i++) {
        cards[i].style.fontSize = this.fontSize + 'px';
      }
    },
     reset: function() {
      this.fontSize = 14;
      this.fadeSelected = false;
      this.$.toast.show();
      this.$.dialog.toggle();
    },
    markerSelected:function(s,e,d){
     console.log('markerSelected');
    }
  });
</script>
</polymer-element>