<link rel="import" href="../bower_components/google-map/google-map.html">
<polymer-element name="map-page" attributes="icon" extends="google-map" libraries="geometry">
<template>
  <style>
    :host {
  display: block;
  height: 100vh;
  width:100%;

    }
  </style>
</template>
<script>
Polymer("map-page",{

          getMapOptions: function() {
            var mapOptions = this.super();
            mapOptions["streetViewControl"] = false;
            return mapOptions;
          }

        });
</script>
</polymer-element>